.idea
Vk/.pytest_cache/
Vk/__pycache__/
 App_requirments.txt
Vk/errors_log.txt
Vk/new_file.json
Vk/all_photos_sorted.json
Vk/owner_and_photo.json
Vk/ids array.json
Vk/search_time.txt
Vk/vk_self_info.json
DB/__pycache__/

